[alias]
	lg = log --oneline
	last = log -1 HEAD
	co = checkout
        cob = checkout -b
	s = status
	c = commit --verbose
	cam = commit --amend --verbose
	d = diff
	dc = diff --cached
        master = checkout master
[color]
	ui = auto
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[core]
	excludesfile = ~/.gitignore_global
	commitGraph = true
[diff]
	algorithm = patience
[fetch]
  prune = true
[merge]
  ff = only
[push]
	default = upstream
[user]
        name = Gord Pearson
        email = gord.pearson@shopify.com
